HELP.md
target/

### Logs ###
*.log
logs/

### Env ###
.env
application-local.yml

### Maven Wrapper ###
# (НЕ игнорируем maven-wrapper.jar)

### IDE ###
.idea/
*.iml
*.ipr
*.iws

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### OS ###
.DS_Store